Repository redmindsteam/lockwarden, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sodiqjonovich, @Kkkiittt, @ulugbekivich, @zokirjanov

.github/CODEOWNERS:

/.github/*          	            @sodiqjonovich
/src/LockWarden.Domain/*          @Kkkiittt
/src/LockWarden.DataAccess/*      @ulugbekivich
/src/LockWarden.Service/*         @Kkkiittt 
/src/LockWarden.Desktop/*	        @zokirjanov

update dashboard
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
Owners: @zokirjanov

updated
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/Assets/Icons/Icons.xaml
  src/LockWarden.Desktop/LockWarden - Backup.Desktop.csproj
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/Styles/RadioButtonStyle.xaml
  src/LockWarden.Desktop/Themes/Theme.xaml
Owners: @zokirjanov

Updated Colors
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/Assets/Icons/close.png
  src/LockWarden.Desktop/Assets/Icons/lockwarden.png
  src/LockWarden.Desktop/Assets/Images/LoginLogo.png
  src/LockWarden.Desktop/Assets/Images/LogoPanel.jpg
  src/LockWarden.Desktop/Assets/Images/regsImg.jpg
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/Themes/Theme.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
  src/LockWarden.Desktop/Windows/LoginWindows.cs
Owners: @zokirjanov

dashboard
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/Assets/Icons/Icons.xaml
  src/LockWarden.Desktop/Assets/Icons/icon_account.png
  src/LockWarden.Desktop/Assets/Icons/icon_all.png
  src/LockWarden.Desktop/Assets/Icons/icon_arrow.png
  src/LockWarden.Desktop/Assets/Icons/icon_create.png
  src/LockWarden.Desktop/Assets/Icons/icon_trash.png
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/MainWindow.xaml.cs
  src/LockWarden.Desktop/Styles/IconButtonStyle.xaml
  src/LockWarden.Desktop/Styles/MenuStyle.xaml
Owners: @zokirjanov

CreateDataBase and Table
  src/LockWarden.DataAccess/Constants/DB_Constants.cs
  src/LockWarden.DataAccess/Interfaces/ITableCreate.cs
  src/LockWarden.DataAccess/LockWarden.DataAccess.csproj
  src/LockWarden.DataAccess/Repositories/TableCreate.cs
  src/LockWarden.DataAccess/Repositories/UserRepository.cs
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml.cs
  src/LockWarden.Domain/LockWarden.Domain.csproj
  src/LockWarden.Domain/Models/User.cs
  src/LockWarden.Service/CreateDatabase.cs
  src/LockWarden.Service/LockWarden.Service.csproj
Owners: @ulugbekivich, @zokirjanov, @Kkkiittt

FullRepository yaratildi u bilan boshqa repositorylarga oson murojaat qilish mumkun. Database to'liq yozilgandan keyin qolgan qismini qo'shaman
  src/LockWarden.DataAccess/Repositories/FullRepository.cs
  src/LockWarden.Service/Class1.cs
  src/LockWarden.Service/Service/CreateDatabase.cs
Owners: @Kkkiittt

Create Repository, Create Database and create Table
  src/LockWarden.DataAccess/Constants/DB_Constants.cs
  src/LockWarden.DataAccess/Repositories/Repository.cs
  src/LockWarden.DataAccess/Repositories/TableCreate.cs
  src/LockWarden.DataAccess/Repositories/UserRepository.cs
  src/LockWarden.Service/Service/CreateDatabase.cs
Owners: none

updated dashboard
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
Owners: @zokirjanov

Idni olib yurish uchun
  src/LockWarden.Service/Commons/IdentitySingelton.cs
Owners: none

updated dashboard
  src/LockWarden.Desktop/Assets/Icons/Icons.xaml
  src/LockWarden.Desktop/Assets/Icons/icon_account.png
  src/LockWarden.Desktop/Assets/Icons/icon_all.png
  src/LockWarden.Desktop/Assets/Icons/icon_create.png
  src/LockWarden.Desktop/Assets/Icons/icon_trash.png
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/Styles/MenuStyle.xaml
Owners: @zokirjanov

Added Crypter and Helper services
  src/LockWarden.Service/Tools/Crypter.cs
  src/LockWarden.Service/Tools/Helper.cs
Owners: none

updated dashboard
  src/LockWarden.Desktop/Components/LockEllipseUserControl.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
Owners: none

bir nima
  src/LockWarden.DataAccess/Constants/DB_Constants.cs
  src/LockWarden.DataAccess/Interfaces/ITableCreate.cs
  src/LockWarden.DataAccess/LockWarden.DataAccess.csproj
  src/LockWarden.DataAccess/Repositories/TableCreate.cs
  src/LockWarden.DataAccess/Repositories/UserRepository.cs
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml.cs
  src/LockWarden.Domain/LockWarden.Domain.csproj
  src/LockWarden.Domain/Models/User.cs
  src/LockWarden.Domain/ViewModels/UserViewModel.cs
  src/LockWarden.Service/CreateDatabase.cs
  src/LockWarden.Service/LockWarden.Service.csproj
Owners: @ulugbekivich, @zokirjanov, @Kkkiittt

Idni olib yurish uchun
  src/LockWarden.Service/Commons/IdentitySingelton.cs
Owners: none

Create Repository, Create Database and create Table
  src/LockWarden.DataAccess/Constants/DB_Constants.cs
  src/LockWarden.DataAccess/Repositories/Repository.cs
  src/LockWarden.DataAccess/Repositories/TableCreate.cs
  src/LockWarden.DataAccess/Repositories/UserRepository.cs
  src/LockWarden.Service/Service/CreateDatabase.cs
Owners: none

FullRepository yaratildi u bilan boshqa repositorylarga oson murojaat qilish mumkun. Database to'liq yozilgandan keyin qolgan qismini qo'shaman
  src/LockWarden.DataAccess/Repositories/FullRepository.cs
  src/LockWarden.Service/Class1.cs
  src/LockWarden.Service/Service/CreateDatabase.cs
Owners: @Kkkiittt

Create DataBase and Table
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/MainWindow.xaml.cs
Owners: @zokirjanov

Added empty pages and changed some buttons
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/MainWindow.xaml.cs
  src/LockWarden.Desktop/Pages/AllRecordsPage.xaml
  src/LockWarden.Desktop/Pages/AllRecordsPage.xaml.cs
  src/LockWarden.Desktop/Pages/CardPage.xaml
  src/LockWarden.Desktop/Pages/CardPage.xaml.cs
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
  src/LockWarden.Desktop/Pages/FullNamePage.xaml.cs
  src/LockWarden.Desktop/Pages/ImagePage.xaml
  src/LockWarden.Desktop/Pages/ImagePage.xaml.cs
  src/LockWarden.Desktop/Pages/LoginPage.xaml
  src/LockWarden.Desktop/Pages/LoginPage.xaml.cs
  src/LockWarden.Desktop/Pages/NotePage.xaml
  src/LockWarden.Desktop/Pages/NotePage.xaml.cs
  src/LockWarden.Desktop/Pages/Page1.xaml
  src/LockWarden.Desktop/Pages/TrashPage.xaml
  src/LockWarden.Desktop/Pages/TrashPage.xaml.cs
  src/LockWarden.Desktop/Styles/ButtonStyles.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml
Owners: @zokirjanov

Tog'irladim Database va Table ni bitta repositoryni ichiga yozdim
  src/LockWarden.DataAccess/Interfaces/IDataBaseCreate.cs
  src/LockWarden.DataAccess/Repositories/DataBaseCreate.cs
  src/LockWarden.DataAccess/Repositories/TableCreate.cs
  src/LockWarden.Desktop/MainWindow.xaml.cs
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
  src/LockWarden.Service/LockWarden.Service.csproj
  src/LockWarden.Service/Service/CreateDatabase.cs
Owners: @zokirjanov, @Kkkiittt

Login and Registration service
  src/LockWarden.DataAccess/Repositories/DataBaseCreate.cs
  src/LockWarden.DataAccess/Repositories/UserRepository.cs
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
  src/LockWarden.Domain/ViewModels/UserViewModel.cs
  src/LockWarden.Service/Interfaces/IUserService.cs
  src/LockWarden.Service/LockWarden.Service.csproj
  src/LockWarden.Service/Services/UserService.cs
Owners: @Kkkiittt

UpdateButton
  src/LockWarden.Desktop/Pages/Page1.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
Owners: none

Tozaladim
  src/LockWarden.DataAccess/Repositories/Repository.cs
  src/LockWarden.Service/Services/UserService.cs
Owners: none

Fixed Repository
  src/LockWarden.DataAccess/Repositories/DataBaseCreate.cs
  src/LockWarden.DataAccess/Repositories/Repository.cs
Owners: none

Deleted not used DataBaseCreate.cs
  src/LockWarden.DataAccess/Repositories/DataBaseCreate.cs
Owners: none

o'zgartirildi
  src/LockWarden.DataAccess/Repositories/Repository.cs
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
  src/LockWarden.Service/Services/UserService.cs
Owners: none

Aprove qililar registration tayyor . Komiljon Verify qilishda xatolik br shekilli shuniyam tekshirib qo'ying
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
Owners: none

updated dashboard
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml
Owners: @zokirjanov

Added all repositories except note
  DontTouch/SampleConsoleApp/SampleConsoleApp.sln
  DontTouch/SampleConsoleApp/SampleConsoleApp/Program.cs
  DontTouch/SampleConsoleApp/SampleConsoleApp/SampleConsoleApp.csproj
  src/LockWarden.DataAccess/Enums/CardRepositoryResult.cs
  src/LockWarden.DataAccess/Enums/ImageRepositoryResult.cs
  src/LockWarden.DataAccess/Enums/LoginRepositoryResult.cs
  src/LockWarden.DataAccess/Enums/UserRepositoryResult.cs
  src/LockWarden.DataAccess/Interfaces/IGenericRepository.cs
  src/LockWarden.DataAccess/Interfaces/IRepositories/IImageRepository.cs
  src/LockWarden.DataAccess/Repositories/CardRepository.cs
  src/LockWarden.DataAccess/Repositories/ImageRepository.cs
  src/LockWarden.DataAccess/Repositories/LoginRepository.cs
  src/LockWarden.DataAccess/Repositories/NoteRepository.cs
Owners: none

added NoteRepository
  src/LockWarden.DataAccess/Repositories/NoteRepository.cs
Owners: none

FullName page added
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/Assets/Icons/mail.png
  src/LockWarden.Desktop/Assets/Icons/password.png
  src/LockWarden.Desktop/Assets/Icons/password_re.png
  src/LockWarden.Desktop/Assets/Icons/password_verified.png
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
  src/LockWarden.Desktop/Styles/FullNamePageTextBoxStyle.xaml
  src/LockWarden.Desktop/Styles/LoginLabelStyle.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml
Owners: @zokirjanov

Added button to to fullName Page
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
Owners: none

emailTextbox set text
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
Owners: none

LoginPage filled
  src/LockWarden.Desktop/Assets/Icons/user.png
  src/LockWarden.Desktop/Assets/Icons/username.png
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
  src/LockWarden.Desktop/Pages/LoginPage.xaml
Owners: @zokirjanov

Added Card Page, some bugs fixed
  src/LockWarden.Desktop/Assets/Icons/emailicon.png
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/Pages/CardPage.xaml
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
  src/LockWarden.Desktop/Pages/LoginPage.xaml
  src/LockWarden.Desktop/Styles/FullNamePageTextBoxStyle.xaml
Owners: @zokirjanov

orientation fixed
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/Pages/CardPage.xaml
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
  src/LockWarden.Desktop/Pages/LoginPage.xaml
  src/LockWarden.Desktop/Styles/FullNamePageTextBoxStyle.xaml
Owners: @zokirjanov

some pages' size changed.
  src/LockWarden.Desktop/Pages/CardPage.xaml
  src/LockWarden.Desktop/Pages/FullNamePage.xaml
  src/LockWarden.Desktop/Pages/LoginPage.xaml
Owners: none

Errorlarni tuzatilgani
  src/LockWarden.DataAccess/Enums/ImageRepositoryResult.cs
  src/LockWarden.DataAccess/Enums/LoginRepositoryResult.cs
  src/LockWarden.DataAccess/Enums/UserRepositoryResult.cs
  src/LockWarden.DataAccess/Repositories/CardRepository.cs
  src/LockWarden.DataAccess/Repositories/ImageRepository.cs
  src/LockWarden.DataAccess/Repositories/LoginRepository.cs
  src/LockWarden.DataAccess/Repositories/NoteRepository.cs
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
  src/LockWarden.Service/Services/UserService.cs
Owners: @zokirjanov

I made some changes
  src/LockWarden.Desktop/Assets/Icons/lockPng.png
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/Windows/LoginWindow.xaml.cs
Owners: @zokirjanov

Allrecords
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/Assets/Icons/mergeHorizontal.png
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/MainWindow.xaml
  src/LockWarden.Desktop/MainWindow.xaml.cs
  src/LockWarden.Desktop/Pages/AllRecordsPage.xaml
  src/LockWarden.Desktop/Pages/AllRecordsPage.xaml.cs
  src/LockWarden.Desktop/Styles/ButtonStyles.xaml
Owners: @zokirjanov

Added UserControl, scroll bar syle
  src/LockWarden.Desktop/App.xaml
  src/LockWarden.Desktop/Assets/Icons/LoginControlDefaultWebIcon.png
  src/LockWarden.Desktop/Components/LoginControls.xaml
  src/LockWarden.Desktop/Components/LoginControls.xaml.cs
  src/LockWarden.Desktop/LockWarden.Desktop.csproj
  src/LockWarden.Desktop/Pages/AllRecordsPage.xaml
  src/LockWarden.Desktop/Pages/AllRecordsPage.xaml.cs
  src/LockWarden.Desktop/Styles/ButtonStyles.xaml
  src/LockWarden.Desktop/Styles/LoginLabelStyle.xaml
  src/LockWarden.Desktop/Styles/ScrollViewer.xaml
Owners: @zokirjanov
